fastapi
uvicorn[standard]
python-multipart
supabase
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pytesseract
Pillow
PyPDF2
pydantic
pydantic[email]
requests
PyJWT>=2.0.0
scikit-learn
nltk
regex
